@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-normal text-sm text-zinc-900 dark:text-zinc-300;
  }

  p {
    @apply text-gray-500 text-lg;
  }

  .menu {
    @apply hidden sm:flex;
  }

  .menu.active {
    @apply block;
  }

  .nav-link {
    @apply text-base hover:text-orange-400;
  }

  .active-link {
    @apply text-orange-400 pointer-events-none;
  }

  .nav-item {
    @apply mr-4 last:mr-0;
  }

  .custom-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}