@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-link {
  @apply text-base hover:text-orange-400;
}

.active-link {
  @apply text-orange-400 pointer-events-none;
}

.nav-item {
  @apply mr-4 last:mr-0;
}

.custom-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}